.bookshomepage section,
.codehomepage section {
  max-width: 1100px;
  margin: auto;
}

.bookshomepage .back a svg:hover {
  color: #00ceafd3;
}

.bookshomepage section > div,
.codehomepage section > div {
  position: relative;
}

.bookshomepage-searchbox-container {
  margin-bottom: 50px;
}

.bookshomepage-books-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.bookshomepage-books-container > a > * {
  flex-grow: 1;
}

.bookshomepage-card,
.codehomepage-card {
  max-width: 250px;
  min-height: 400px;
  margin: 0 15px 30px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bookshomepage-card img,
.codehomepage-card img {
  max-width: 150px;
  width: 100%;
}

.bookshomepage-card h3,
.codehomepage-card h3 {
  color: #99aad8;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 5px;
}

.bookshomepage-card h2,
.codehomepage-card h2 {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px 0;
}

@media (max-width: 600px) {
  .bookshomepage-card,
  .codehomepage-card {
    max-width: none;
    margin: 0 0 30px 0;
  }

  .bookshomepage-card img,
  .codehomepage-card img {
    max-width: none;
  }

  .bookshomepage-card h3,
  .codehomepage-card h3 {
    font-size: 1.4rem;
  }

  .bookshomepage-card h2,
  .codehomepage-card h2 {
    font-size: 2.2rem;
  }
}
