.card {
  transition: transform 0.2s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  background: var(--blue-500);
  color: var(--neutral-100);
  min-height: 220px;
  min-width: 100px;
  border-radius: 15px;
  padding: 20px;
  z-index: 3;
}

.card:hover {
  background: var(--blue-600);
  transform: translateY(-15px);
}