.card {
  min-height: 220px;
  min-width: 100px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #324065;
  color: #fff;
  cursor: pointer;
  z-index: 1000;
  position: relative;
  transition: transform 0.2s ease-in;
}

.card:hover {
  background: #2f3c61;
  transform: translateY(-15px);
}
