.homepage {
  margin: 50px 0;
}

.navigation {
  position: relative;
  width: fit-content;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3, 250px);
  column-gap: 60px;
  row-gap: 60px;
}

.navigation-icon {
  font-size: 6rem;
}

.blob-container {
  position: relative;
}

.blob {
  position: absolute;
  z-index: 2;
  transform-origin: 0 0;
}

.blob1 {
  top: 30px;
  right: -130px;
  animation: swinging 3.5s ease-in-out forwards infinite;
}

.blob2 {
  top: 110px;
  left: 80px;
  animation: swinging 7s ease-in-out forwards infinite;
}

.blob3 {
  left: -80px;
  top: 170px;
  animation: swinging 5s ease-in-out forwards infinite;
}

.navigation-text {
  font-weight: 400;
  text-align: center;
  margin-top: 15px;
  font-size: 2rem;
}

.navigation-card {
  transition: transform 0.2s ease-in;
}

@media (max-width: 1200px) {
  .navigation {
    grid-template-columns: repeat(2, 240px);
  }

  .blob1 {
    right: -430px;
  }
}

@media (max-width: 600px) {
  .navigation {
    grid-template-columns: repeat(2, 200px);
    row-gap: 40px;
    column-gap: 40px;
  }
}

@media (max-width: 500px) {
  .navigation-icon {
    font-size: 4rem;
  }

  .navigation {
    grid-template-columns: repeat(2, 150px);
  }

  .navigation-text {
    font-size: 1.2rem;
  }

  .homepage {
    margin-top: 0;
  }
}

@media (max-width: 400px) {
  .navigation {
    grid-template-columns: repeat(2, 120px);
    column-gap: 20px;
    row-gap: 20px
  }
}