.homepage {
  width: 100%;
  margin-top: 50px;
}

/* Heading */
.heading {
  width: fit-content;
  margin: auto;
  margin-bottom: 150px;
  position: relative;
}

.heading h1 {
  font-size: 5rem;
  text-align: left;
  font-weight: 900;
  width: fit-content;
}

.heading hr {
  width: 70%;
  height: 6px;
  border-radius: 15px;
  background-color: #00ceaf;
}

/* Navigation */
.navigation {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  column-gap: 80px;
  row-gap: 60px;
  width: fit-content;
  margin: auto;
  position: relative;
}

.navigation svg {
  font-size: 7em;
}

.navigation .card h2 {
  margin-top: 15px;
  font-weight: normal;
  font-size: 2rem;
}

.navigation .card {
  transition: transform 0.2s ease-in;
}

.navigation .card:hover {
  transform: translateY(-15px);
}

.blob-container {
  position: relative;
}

.blob {
  position: absolute;
  z-index: -1;
  transform-origin: 0 0;
}

.blob1 {
  top: 30px;
  right: -130px;
  animation: swinging 3.5s ease-in-out forwards infinite;
}

.blob2 {
  top: 110px;
  left: 80px;
  animation: swinging 7s ease-in-out forwards infinite;
}

.blob3 {
  left: -80px;
  top: 170px;
  animation: swinging 5s ease-in-out forwards infinite;
}

@keyframes swinging {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

@media (max-width: 1200px) {
  .navigation {
    grid-template-columns: repeat(2, 240px);
  }

  .blob1 {
    right: -430px;
  }
}

@media (max-width: 700px) {
  .navigation {
    column-gap: 30px;
  }
}

@media (max-width: 620px) {
  .navigation {
    grid-template-columns: repeat(1, 240px);
    row-gap: 20px;
  }

  .heading {
    margin-bottom: 100px;
  }

  .heading h1 {
    font-size: 4rem;
  }
}

@media (max-width: 500px) {
  .heading h1 {
    font-size: 3rem;
  }
}

@media (max-width: 400px) {
  .heading {
    margin-bottom: 70px;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .navigation {
    grid-template-columns: repeat(1, 180px);
  }
}
