.page {
  padding: 20px;
}

.back {
  position: absolute;
  top: 20px;
  left: 20px;
}

.back-icon {
  color: var(--green-400);
  font-size: 3rem;
}

.main {
  width: fit-content;
  position: relative;
  margin: 0 auto 120px auto;
}

.main-text {
  text-align: left;
  color: var(--neutral-100);
  font-size: 5rem;
  font-weight: 700;
}

.main hr {
  background-color: var(--green-400);
  width: 70%;
  height: 6px;
  border-radius: 15px;
}

@media (max-width: 600px) {
  .main {
    margin-bottom: 80px;
  }

  .main-text {
    font-size: 4rem;
  }
}

@media (max-width: 500px) {
  .main-text {
    font-size: 3rem;
  }
}

@media (max-width: 400px) {
  .main {
    margin-bottom: 50px;
  }

  .main-text {
    font-size: 2rem;
  }
}